* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   display: flex;
   justify-content: center;
   min-height: 100vh;
   margin: 0 auto;
}

img {
   max-width: 100%;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}
